#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  font-family: url(./assets/fonts/Roboto-Regular.ttf);
  background-color: hsl(235, 18%, 26%);
}

.box-white {
  width: 820px;
  height: 600px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(234, 29%, 20%);

  display: flex;
  flex-direction: column-row;
  padding: 25px;
  padding-bottom: 23px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 4px hsla(0, 0%, 0%, 0.144);
}

.side-login {
  width: 50%;
}

.text {
  width: 335px;
  height: 320px;
  padding: 40px 30px 0px 30px;
  display: flex;
  flex-direction: column;
}

.text span,
p,
h1,
img {
  padding: 0px;
  margin: 0px;
  padding-bottom: 18px;
  text-align: left;
}

.text p {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.list p {
  width: 500px;
  display: flex;
  padding: 0px;
}

.list img {
  margin-right: 13px;
}

.side-card {
  width: 50%;
  border-radius: none;
  background: url(../assets/images/illustration-sign-up-desktop.svg) no-repeat;
}

.email-login {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  padding: 0px 30px;
  margin-top: -20px;
}

label {
  font-size: 13px;
  font-weight: 700;
}

input {
  background-color: white;
  padding: 20px 20px;
  border-radius: 8px;
  border: 1px solid hsl(231, 7%, 60%);
  color: hsl(231, 7%, 60%);
  font-size: 15px;
}

input[type=email] {
  color: hsl(234, 29%, 20%);
}

input[type=email]::before {
  color: grey;
}

.error-mensage {
  color: rgb(253, 71, 71);
  padding-left: 154px;
  font-size: 13px;
  font-weight: 700;
  padding-top: 12px;
  margin: -15px;
}

label {
  display: flex;
}

input[type=email].error {
  color: red;
  background-color: rgba(252, 204, 204, 0.411);
  border: 1px solid hsl(0, 88%, 77%);

}

input[type=email].error::placeholder {
  color: red;
}

@media (max-width: 575px) {
  
  html {
    background-color: white;
  }

  body {
    overflow-x: hidden;
    display: flex;
    place-items: center;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.box-white {
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
  }

  .box-white {
    width: 375px;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .side-card {
    width: 410px;
    height: 290px;
    background: url(../assets/images/illustration-sign-up-mobile.svg) no-repeat;
    margin-right: -35px;
  }

  .side-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    padding: 0px;
  }

  div.email-login {
    width: 340px;
  }

  div#root {
    padding: 0px;
    margin: 0px;
  }

  div.text {
    padding: 20px;
  }
}